<h1 class="mb-5">Articles</h1>

<ul class="list-group">
  <% @articles.each do |article| %>
  <li class="list-group-item"><%= link_to article.title, article_path(article) %></li>
<% end %>
</ul>

<p><%= link_to 'CREATE', new_article_path, class: 'btn btn-outline-primary w-100 mt-5' %></p>


