<h1><%= link_to @article.title, articles_path %></h1>

<p><%= @article.content %></p>


<%= link_to 'Back', articles_path %>
<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?'} %>
